.DS_Store
*/.DS_Store
proj.ios_mac/MergeNumber.xcodeproj/xcuserdata/hungle.xcuserdatad/*
proj.ios_mac/MergeNumber.xcodeproj/project.xcworkspace/xcuserdata/hungle.xcuserdatad/*
proj.android/*
proj.linux/*
proj.win10/*
proj.win32/*
proj.win8.1-universal/*
