<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>board.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{525,525}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,525}}</string>
				<key>sourceSize</key>
				<string>{525,525}</string>
			</dict>

			<key>home_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,526},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,526},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,526},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>item_bg_highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,526},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{690,690}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>